.cart-container{

  padding: 50px 20px;
}

.cart-card{

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 20px;

  border: 1px solid #ddd;

  border-radius: 10px;

  margin-bottom: 20px;

  background: white;
}