.cart-container{

  padding: 50px 20px;
}

.cart-card{

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 20px;

  border: 1px solid #ddd;

  border-radius: 10px;

  margin-bottom: 20px;

  background: white;
}


.success-modal{

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: rgba(0,0,0,0.5);

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 999;
}

.modal-content-custom{

  background: white;

  padding: 40px;

  border-radius: 15px;

  text-align: center;

  width: 350px;

  animation: popup 0.3s ease;
}

@keyframes popup{

  from{

    transform: scale(0.7);

    opacity: 0;
  }

  to{

    transform: scale(1);

    opacity: 1;
  }
}